header.header
  .header__wrapper
    .header__column
      a(href=routes.home)
        i.fab.fa-youtube
    .header__column
      from(action="/search" method="get").header__search
        input(type="text", placeholder="Searching by term...", name="term")
    .header__column
      ul.header__btns
        li.header__btn
          a(href=routes.join) Join
        li.header__btn
          a(href=routes.login) Login
        li.header__btn
          a(href=`/videos${routes.upload}`) Upload
        li.header__btn
          a(href=routes.userDetail) Profile
        li.header__btn
          a(href=routes.logout) Logout
