extends layouts/main

block content
  form(action=`/users/${routes.editProfile}` method="post" enctype="multipart/form-data").Edit-form
    .Edit__avatar
      label(for="avatar") Avatar
        img(src=`../${user.avatarUrl}`).profile__avatar
      input(type="file" name="avatar" id="avatar")
    input(type="text" placeholder="Full name" required=true name="name" value=user.name)
    input(type="email" placeholder="email" required=true name="email" value=user.email)  
    input(type="submit" value="Edit now")