extends layouts/main

block content
  form(action=routes.join method="post" enctype="multipart/form-data").Edit-form
    .Edit__avatar
      label(for="avatar") Avatar
      input(type="file" name="avatar" id="avatar")
    input(type="text" placeholder="Full name" required=true name="name")
    input(type="email" placeholder="email" required=true name="email")
    input(type="password" placeholder="Password" required=true name="password1")
    input(type="password" placeholder="Verify password" required=true name="password2")
    input(type="submit" value="Edit now")