extends layouts/main

block content
  .form-container
    form(action=`/users/${routes.editProfile}` method="post" enctype="multipart/form-data").Edit-form
      img(src=user.avatarUrl).profile__avatar
      .fileUpload
        label(for="avatar") Avatar
        input(type="file" name="avatar" id="avatar" accept="image/*")
      input(type="text" placeholder="Full name" required=true name="name" value=user.name)
      input(type="email" placeholder="Email" required=true name="email" value=user.email)  
      input(type="submit" value="Edit now")