extends layouts/main
include mixins/videoBlock

block content
  .profile
    .profile__column
      img(src=`/${user.avatarUrl}`).profile__avatar
    .profile__column
      .profile__name #{user.name}
      .profile__email #{user.email}
    .profile__column
      .profile__btns
        a(href=`/users${routes.editProfile}`).profile__edit
          button ✏️ Edit Profile
        a(href=`/users${routes.changePassword}`).changePassword
          button 🔒 Change Password
  .uploaded-videos
      each item in user.videos
        +videoBlock({
          id:item.id,
          title:item.title,
          views:item.views,
          videoUrl:item.videoUrl,
          creator: item.creator
        })